@using System;
@using UniversityCommunity.Business.Session
@model UniversityCommunity.Data.Models.PageModel.CommunityEventforListPage;

@{
    ViewData["Title"] = "AdminCommunityEventList";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<title>Community Event List</title>
<body>

    <div class="page">
        <div class="page-header">
            @if (SessionContext.GetInt("UserTypeId") == 3)
            {
                <h1 class="page-title">Etkinlik Listesi</h1>
                <p class="page-description"></p>
                <div class="page-header-actions">
                    <a class="btn btn-sm btn-inverse btn-round" href="/Admin/SaveCommunityEvent/"
                       target="_blank">
                        <i class="icon wb-link" aria-hidden="true"></i>
                        <span class="btn btn-primary submit mb-4">Etkinlik Oluştur</span>
                    </a>
                </div>
            }
        </div>

        <div class="page-content">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Etkinlik Listesi
                        <span class="panel-desc">
                        </span>
                    </h3>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered table-hover toggle-circle" id="exampleFootableFiltering"
                           data-paging="true" data-filtering="true" data-sorting="true">
                        <thead>
                            <tr>
                                <th data-name="Title" data-type="number" data-breakpoints="xs">Etkinlik Id</th>
                                <th data-name="Title">Topluluk İsmi</th>
                                <th data-name="Email">Etkinlik Türü</th>
                                <th data-name="CreatedDate">Etkinlik Tarihi</th>
                                <th data-name="status" data-filterable="true">Durum</th>
                                @if (SessionContext.GetInt("UserTypeId") == 3)
                                {
                                    <th data-name="button">Düzenle</th>
                                }
                                else
                                {
                                    <th data-name="button">Detayları Gör</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.CommunityEvents)
                            {
                                <tr>
                                    <td>@item.Id</td>
                                    <td>@item.Community.Title</td>
                                    <td>@item.EventType.Name</td>
                                    <td>@item.EventDate.Value.ToString("MMMM-dd-yyyy HH:mm")</td>
                                    <td>
                                        @if (item.Status == 0)
                                        {
                                            <span class="badge badge-table badge-secondary">Bekleniyor</span>
                                        }
                                        else if (item.Status == 1)
                                        {
                                            <span class="badge badge-table badge-warning">Danışman Onay</span>
                                        }
                                        else if (item.Status == 2)
                                        {
                                            <span class="badge badge-table badge-danger">Danışman Red</span>
                                        }
                                        else if (item.Status == 3)
                                        {
                                            <span class="badge badge-table badge-success">Admin Onay</span>
                                        }
                                        else if (item.Status == 4)
                                        {
                                            <span class="badge badge-table badge-danger">Admin Red</span>
                                        }
                                    </td>
                                    @if (SessionContext.GetInt("UserTypeId") == 3)
                                    {
                                        <td>
                                            @Html.ActionLink("Edit", "SaveCommunityEvent", "Admin", new { communityEventId = item.Id }, new { @class = "btn btn-primary" })
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            @Html.ActionLink("Detayı Gör", "CommunityEventDetail", "Admin", new { communityEventId = item.Id }, new { @class = "btn btn-info" })
                                        </td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <script src="/Content/AdminPanel_Layout/classic/global/vendor/moment/moment.min.js"></script>
    <script src="/Content/AdminPanel_Layout/classic/global/vendor/footable/footable.min.js"></script>
    <script src="/Content/AdminPanel_Layout/classic/topbar/assets/examples/js/tables/footable.js"></script>
</body>