@model UniversityCommunity.Data.Models.PageModel.CommunityEventforPage;
@using System;
@using System.Linq;

@{
    ViewData["Title"] = "SaveCommunityEvent";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<title>Etkinlik</title>
<section class="main-content-w3layouts-agileits center-form">
    <div class="container form-container">
        <h3 class="tittle text-center">Etkinlik</h3>
        <div class="inner-sec">
            <div class="section-header">
                @using (Html.BeginForm("SaveCommunityEvent", "Admin", FormMethod.Post, new { enctype = "multipart/form-data", onsubmit = "return Validate(this);", onkeydown = "return event.key != 'Enter';" }))
                {
                    @Html.HiddenFor(model => model.CommunityEvent.Id)
                    @Html.HiddenFor(model => model.CommunityEvent.CreatedDate)
                    @Html.HiddenFor(model => model.CommunityEvent.Status)
                    <div class="form-row">
                        <div class="col-md-12 mb-3">
                            <label for="validationCustom01">Topluluk</label>
                            @Html.DropDownListFor(model => model.CommunityEvent.CommunityId, new SelectList(Model.Communities, "Text", "Value", 0), "Topluluk seçiniz", new { @class = "form-control", required = "required", autocomplete = "off" })
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-12 mb-3">
                            <label for="validationCustom01">Etkinlik Türü</label>
                            @Html.DropDownListFor(model => model.CommunityEvent.EventTypeId, new SelectList(Model.EventTypes, "Text", "Value", 0), "Etkinlik türünü seçiniz", new { @class = "form-control", required = "required", autocomplete = "off" })
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-12 mb-3">
                            <label for="validationCustom01">Etkinlik Adı</label>
                            @Html.EditorFor(model => model.CommunityEvent.Name, new { htmlAttributes = new { @class = "form-control", required = "required", autocomplete = "off" } })
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-12 mb-3">
                            <label for="validationCustom01">Konuşmacı</label>
                            @Html.EditorFor(model => model.CommunityEvent.Speaker, new { htmlAttributes = new { @class = "form-control", required = "required", autocomplete = "off" } })
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-12 mb-3">
                            <label for="validationCustom01">Panelist</label>
                            @Html.EditorFor(model => model.CommunityEvent.Panelist, new { htmlAttributes = new { @class = "form-control", required = "required", autocomplete = "off" } })
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-12 mb-3">
                            <label for="validationCustom01">Etkinlik Tarihi</label>
                            @Html.EditorFor(model => model.CommunityEvent.EventDate, new { htmlAttributes = new { @class = "form-control", required = "required", autocomplete = "off" } })
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-12 mb-3">
                            <label for="validationCustom01">Etkinlik Konusu</label>
                            @Html.EditorFor(model => model.CommunityEvent.Subject, new { htmlAttributes = new { @class = "form-control", required = "required", autocomplete = "off" } })
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-12 mb-3">
                            <label for="validationCustom01">Etkinlik İçeriği</label>
                            @Html.TextAreaFor(model => model.CommunityEvent.Content, new
                                {
                                    @class = "maxlength-textarea form-control",
                                    @data_placement = "bottom-right-inside",
                                    data_plugin = "maxlength",
                                    maxlength = "1000",
                                    rows = "5",
                                    placeholder = "Max 1000 karakter.",
                                    required = "required",
                                    contenteditable = "true"
                                })
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-12 mb-3">
                            <label for="validationCustom01">Talep Edilen Hizmet ve Malzemeler</label>
                            @Html.TextAreaFor(model => model.CommunityEvent.Wants, new
                                {
                                    @class = "maxlength-textarea form-control",
                                    @data_placement = "bottom-right-inside",
                                    data_plugin = "maxlength",
                                    maxlength = "1000",
                                    rows = "5",
                                    placeholder = "Max 1000 karakter.",
                                    required = "required",
                                    contenteditable = "true"
                                })
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary submit mb-4">İşlemi Kaydet</button>
                }
            </div>
        </div>
    </div>
</section>