@model UniversityCommunity.Data.Models.PageModel.CommunityforPage;
@using System;
@using System.Linq;

@{
    ViewData["Title"] = "SaveCommunity";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<title>Topluluk</title>
<section class="main-content-w3layouts-agileits center-form">
    <div class="container form-container">
        <h3 class="tittle text-center">Topluluk</h3>
        <div class="inner-sec">
            <div class="section-header">
                @using (Html.BeginForm("SaveCommunity", "Community", FormMethod.Post, new { enctype = "multipart/form-data", onsubmit = "return Validate(this);", onkeydown = "return event.key != 'Enter';" }))
                {
                    @Html.HiddenFor(model => model.Community.Id)
                    @Html.HiddenFor(model => model.Community.CreatedDate)
                    <div class="form-row">
                        <div class="col-md-12 mb-3">
                            <label for="validationCustom01">Görsel Url</label>
                            @Html.EditorFor(model => model.Community.Image, new { htmlAttributes = new { @class = "form-control", required = "required", autocomplete = "off" } })
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-12 mb-3">
                            <label for="validationCustom01">İsim</label>
                            @Html.EditorFor(model => model.Community.Title, new { htmlAttributes = new { @class = "form-control", required = "required", autocomplete = "off" } })
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-12 mb-3">
                            <label for="validationCustom01">Açıklama</label>
                            @Html.TextAreaFor(model => model.Community.Description, new
                                {
                                    @class = "maxlength-textarea form-control",
                                    @data_placement = "bottom-right-inside",
                                    data_plugin = "maxlength",
                                    maxlength = "2000",
                                    minlength = "150",
                                    rows = "5",
                                    placeholder = "Max 2000 chars.",
                                    required = "required",
                                    contenteditable = "true"
                                })
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="exampleInputPassword1 mb-2">E-Posta Adresi</label>
                            @Html.EditorFor(model => model.Community.Email, new { htmlAttributes = new { @class = "form-control", required = "required", autocomplete = "off", type = "email" } })
                            @if (@ViewBag.ValidateControl != null)
                            {
                                <span class="panel-desc" style="font-weight: bold; color: red;">
                                    @ViewBag.ValidateControl
                                </span>
                            }
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-12 mb-3">
                            <label for="validationCustom01">Topluluk Danışmanı</label>
                            @Html.DropDownListFor(model => model.Community.AdvisorId, new SelectList(Model.AdvisorList, "Text", "Value", 0), "Topluluk danışmanını seçiniz", new { @class = "form-control", required = "required", autocomplete = "off" })
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-12 mb-3">
                            <label for="validationCustom01">Topluluk Başkanı</label>
                            @Html.DropDownListFor(model => model.Community.LeaderId, new SelectList(Model.LeaderList, "Text", "Value", 0), "Topluluk başkanını seçiniz", new { @class = "form-control", required = "required", autocomplete = "off" })
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="exampleInputPassword1 mb-2">Durum</label>
                            @Html.CheckBoxFor(model => model.Community.Status, new { @class = "to-labelauty", name = "Status", data_plugin = "labelauty", data_labelauty = "No|Yes" })

                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary submit mb-4">İşlemi Kaydet</button>
                }
            </div>
        </div>
    </div>
</section>